# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Dependency directories
/.pnp  
.pnp.js

# Optional npm cache directory
.npm

# Compiled binary addons (https://github.com/TooTallNate/node-gyp)
/build/

# Debug log files
*.log

# Environment variables
.env

# Editor directories and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Mac OS
.DS_Store

# Windows
Thumbs.db